<!DOCTYPE html>
<!--[if IE 7 ]><body class="ie ie7"><![endif]-->
<!--[if IE 8 ]><body class="ie ie8"><![endif]-->
<!--[if IE 9 ]><body class="ie ie9"><![endif]-->
<html class='no-js' lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <title>Accesstrade Viet Nam</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=vietnamese" rel="stylesheet">
    <link type="image/x-icon" href="{{url_for('static', filename='images/favicon.png')}}" rel="shortcut icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
</head>

<body>

    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>

        <header class='main-wrapper header'>
            <div class="container apex">
                <div class="row">
                    <nav class="" role="navigation">
                        <div class="navbar-header">
                            <div class="logo navbar-brand">
                                <a href="#" title="Standard Chartered"></a>
                            </div>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <div class="navbar-right">
                                <ul>
                                    <li class="Item active"><a href="#tinhnang">GIỚI THIỆU</a></li>
                                    <li class="Item"><a href="#tinhnang">LỢI ÍCH VƯỢT TRỘI</a></li>
                                    <li class="Item"><a href="#tinhnang">Quyền Lợi</a></li>
                                    <li class="Item"><a href="#tinhnang">Phí Bảo Hiểm</a></li>
                                    <li class="Item"><a href="#tinhnang">THÔNG TIN CẦN BIẾT</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                </div>
            </div>

        </header>

    <div class="main-holder wrap" >
        <div class='main-wrapper '>
            <section class="relative software_slider">
                <div class="forma-slider">
                    <div class="container">
                        <div class="row">
                            <div id="form_slider" data-anchor="form_slider">
                                <ul class="form-bxslider list-unstyled">
                                    <li>
                                        <div class="list-forstart fin_1" style="opacity: 1; margin-top: 200px">
                                            <h2 class="h-Bold">BẢO HIỂM BỆNH HIỂM NGHÈO</h2>
                                            <p class="desc">Công ty đầu tiên cho ra mắt sản phẩm bệnh hiểm nghèo với 14 bệnh nan y (bao gồm cả Ung Thư Suy Thận; Liệt Các Chi; Đột Quỵ và Ngồi Máu Cơ Tim</p>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix visible-xs visible-md"></div>
                            <div class="container relative fin_3" id='elem-portable'>
                                <div class="reg-now">

                                    {% for field in form if field.widget.input_type != 'hidden' %}
                                        {% if field.errors %}
                                        <div class='alert alert-danger'><a class='close' data-dismiss='alert'>×</a>
                                            {%for error in field.errors%}
                                                {{error}}</br>
                                            {%endfor%}
                                        </div>
                                        {%endif%}
                                    {%endfor%}

                                     <form class='reg-now-visible' id='formIndex' action="/" method="post" accept-charset="utf-8" role="form">
                                        {{ form.hidden_tag() }}
                                        <div class="clr"></div>
                                         <div class='control-group'>
                                            <input type="text" name="name" {%if form.data.name%} value="{{form.data.name|safe}}" {%endif%} placeholder='Họ và tên' required oninvalid="setCustomValidity('Họ và tên là bắt buộc')" oninput="setCustomValidity('')"/>
                                        </div>
                                        <div class='control-group'>
                                            <input type="text" id="phone" name="phone" value={%if form.data.phone%} "{{form.data.phone|safe}}" {%else%} "" {%endif%} placeholder='Số điện thoại' required pattern="^[0-9]{10,12}$" oninvalid="setCustomValidity('Số điện thoại không chính xác')" oninput="setCustomValidity('')"/>
                                        </div>

                                        <div class="relative">
                                            {{slbox_level_insurrance|safe}}
                                        </div>
                                        <div class="relative">
                                             {{slbox_number_persion|safe}}

                                        </div>

                                        <div class='control-group'>
                                            <input type="text" name="code_promotion" value={%if form.data.code_promotion%} "{{form.data.code_promotion|safe}}" {%else%} "" {%endif%} placeholder='Mã khuyến mại'/>
                                        </div>
                                        <p>
                                              {%if form.toidongy.data%}
                                            <input type="checkbox" id="toidongy" name="toidongy" required oninvalid="setCustomValidity('Bạn phải đồng ý với điều khoản này')" onchange="setCustomValidity('')" checked/>
                                            {%else%}
                                            <input type="checkbox" id="toidongy1" name="toidongy" required oninvalid="setCustomValidity('Bạn phải đồng ý với điều khoản này')" onchange="setCustomValidity('')"/>
                                            {%endif%}
                                            Bằng cách nhấp vào "Đăng Ký Ngay" Quý khách đồng ý với điều khoản của ngân hàng Standard Chartered.</p>
                                        <button type="submit" value="Register Now" class='btn submit sub-form' name="submit">Đăng ký ngay</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="content">
                <section id="dieukien" class="container make-row">
                    <div class="row">
                        <div class="bg-tn" style="text-align:center; color: #fff; padding-left: 120px; padding-right: 120px; margin-top: 0px;">
                            <div class="sec-title">
                                <h3 style="color: #fff;">
                                    <span>Mỗi năm ở Việt Nam có thêm</span>
                                    <p>hàng trăm ngàn người mắc những bệnh hiểm nghèo</p>
                                </h3>
                                <h3 style="color: #fff;"> </h3>
                            </div>
                            <p>...như ung thư, đột quỵ, suy thận .. Những căn bệnh này đã trở nên phổ biến hơn và có thể xảy ra với bất kỳ ai. Ngày nay, với tiến bộ của y khoa và phương pháp điều trị, bệnh hiểm nghèo thật sự không phải là dấu chấm hết. Nếu được phát hiện sớm, nhiều người mắc bệnh hoàn toàn có thể hy vọng hồi phục và trở lại cuộc sống bình thường.</p>
                            <p>Bảo hiểm bệnh hiểm nghèo của Tổng công ty cổ phần Bảo hiểm Bưu điện là sản phẩm bảo hiểm ĐẦU TIÊN tại thị trường bảo hiểm phi nhân thọ ở Việt Nam. Tham gia bảo hiểm bệnh hiểm nghèo của PTI, khách hàng sẽ được cung cấp nguồn tài chính kịp thời cho quá trình điều trị và đảm bảo kế hoạch tài chính cho bản thân và gia đình.</p>
                            <p><button type="submit" value="Register Now" class="btn submit sub-form" name="submit" style=" background: #ffc900; margin: 15px auto; border-radius: 5px; width: 230px; box-shadow: 0 3px 0 #d37f00;">Nhận tư vấn ngay</button></p>
                            <div class="clr"></div>
                        </div>

                    </div>
                </section>

                <section id="tinhnang" class="container make-row ">
                    <div class="section s1">
                        <div class="row inner">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="text-center">
                                    <div class="img-holder mb-25">
                                        <img alt="" src="{{url_for('static', filename='images/icon1.png')}}">
                                    </div>
                                    <div class="content">
                                        <h4>Bảo hiểm ngay với 5 bệnh lý nghiệm trọng và thường gặp</h4>
                                        <p>Dịch vụ thông báo kết quả khoản vay trong vòng 24 giờ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="text-center">
                                    <div class="img-holder mb-25">
                                        <img alt="" src="{{url_for('static', filename='images/icon2.png')}}">
                                    </div>
                                    <div class="content">
                                        <h4>Phạm vi bảo vệ đến 14 bệnh hiểm nghèo</h4>
                                        <p>Lãi suất cạnh tranh, theo dư nợ giảm dần Số tiền Thanh Toán Đều Theo Tháng (TTĐTT) bằng nhau.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="text-center">
                                    <div class="img-holder mb-25">
                                        <img alt="" src="{{url_for('static', filename='images/icon3.png')}}">
                                    </div>
                                    <div class="content">
                                        <h4> Chi trả 100% số tiền bảo hiếm</h4>
                                        <p>Dịch vụ thông báo kết quả khoản vay trong vòng 24 giờ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="text-center">
                                    <div class="img-holder mb-25">
                                        <img alt="" src="{{url_for('static', filename='images/icon4.png')}}">
                                    </div>
                                    <div class="content">
                                        <h4>Độ tuổi tham gia rộng từ 01 tuổi đến 60 tuổi</h4>
                                        <p>Lãi suất cạnh tranh, theo dư nợ giảm dần Số tiền Thanh Toán Đều Theo Tháng (TTĐTT) bằng nhau.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="clr"></div>
                    </div>
                </section>
                <section id="tienich" class="container make-row">
                    <div class="row">
                        <div class="sec-title has-bg">
                            <h3>Quyền lợi</h3>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{url_for('static', filename='images/img1.png')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="#" target="_blank">
                                            <img src="{{url_for('static', filename='images/click.png')}}">
                                            <p>Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng. Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="#"> CÁC BỆNH HIỂM NGHÈO ĐƯỢC BẢO HIỂM</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{url_for('static', filename='images/img2.png')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="#" target="_blank">
                                            <img src="{{url_for('static', filename='images/click.png')}}">
                                            <p>Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng. Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="#">SỐ TIỀN BÀO HIỂM</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{url_for('static', filename='images/img3.png')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="#" target="_blank">
                                            <img src="{{url_for('static', filename='images/click.png')}}">
                                            <p>Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng. Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="#">PHẠM VI BẢO HIỂM</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="thongtin" class="container make-row">
                    <div class="row">
                        <div class="sec-title has-bg">
                            <h3>Phí bảo hiểm</h3>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="info2 table_phi">
                                <p style="width: 70%;">Phí Bảo hiểm sẽ phụ thuộc vào độ tuổi của người tham gia bảo hiểm và giá trị bảo hiểm mà quý khách lựa chọn Chi tiết mức phí bảo hiểm quý khách có thể kiểm tra <strong>tại đây</strong></p>
                                <div style="border: 1px solid #666666;">
                                    <table >
                                    <tr>
                                        <th>Độ tuổi</th>
                                        <th>Mức bảo hiểm 110 triệu</th>
                                        <th>Mức bảo hiểm 220 triệu</th>
                                        <th>Mức bảo hiểm 330 triệu</th>
                                    </tr>
                                    <tr>
                                        <td>01-18</td>
                                        <td>150,000</td>
                                        <td>290,000</td>
                                        <td>450,000</td>
                                    </tr>
                                    <tr>
                                        <td>19 - 25</td>
                                        <td>200,000</td>
                                        <td>390,000</td>
                                        <td>600,000</td>
                                    </tr>
                                    <tr>
                                        <td>26 - 30</td>
                                        <td>260,000</td>
                                        <td>510,000</td>
                                        <td>750,000</td>
                                    </tr>
                                    <tr>
                                        <td>31 - 35</td>
                                        <td>390,000</td>
                                        <td>760,000</td>
                                        <td>1,200,000</td>
                                    </tr>
                                    <tr>
                                        <td>36 - 40</td>
                                        <td>600,000</td>
                                        <td>1,200,000</td>
                                        <td>1,800,000</td>
                                    </tr>
                                    <tr>
                                        <td>41 - 45</td>
                                        <td>860,000</td>
                                        <td>1,700,000</td>
                                        <td>2,700,000</td>
                                    </tr>
                                    <tr>
                                        <td>46 - 50</td>
                                        <td>1,100,000</td>
                                        <td>2,200,000</td>
                                        <td>3,500,000</td>
                                    </tr>
                                    <tr>
                                        <td>51 - 55</td>
                                        <td>1,500,000</td>
                                        <td>3,000,000</td>
                                        <td>4,650,000</td>
                                    </tr>
                                    <tr>
                                        <td>55 - 60</td>
                                        <td>2,000,000</td>
                                        <td>4,000,000</td>
                                        <td>6,100,000</td>
                                    </tr>
                                    <tr>
                                        <td>61 - 65</td>
                                        <td>2,800,000</td>
                                        <td>5,500,000</td>
                                        <td>8,000,000</td>
                                    </tr>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="cauhoi" class="container make-row">
                    <div class="row">
                        <div class="sec-title has-bg">
                            <h3>Thông tin cần thiết</h3>
                        </div>
                        <div class="col-lg-12">


                            <div class="container">
                                <br>
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                                        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                                        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item">
                                            <img src="{{url_for('static', filename='images/img4.png')}}" alt="Chania">
                                            <div class="carousel-caption">
                                                <h3>Quy tắc bảo hiểm</h3>
                                                <p>Trường hợp Người được bảo hiểm bị mắc phải bệnh hiểm nghèo thuộc phạm vi bảo hiểm của Quy tắc bảo hiểm này, Người được bảo hiểm/ Người thụ hưởng/ Người thừa kế hợp pháp phải gửi các chứng từ sau đây</p>
                                                <p>
                                                    <button type="submit" value="Register Now" class="btn submit sub-form" name="submit" style=" background: #ffc900; border-radius: 5px; width: 230px; box-shadow: 0 3px 0 #d37f00;">xem chi tiết</button>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="item active">
                                            <img src="{{url_for('static', filename='images/img4.png')}}" alt="Chania">
                                            <div class="carousel-caption">
                                                <h3>Quy tắc bảo hiểm</h3>
                                                <p>Trường hợp Người được bảo hiểm bị mắc phải bệnh hiểm nghèo thuộc phạm vi bảo hiểm của Quy tắc bảo hiểm này, Người được bảo hiểm/ Người thụ hưởng/ Người thừa kế hợp pháp phải gửi các chứng từ sau đây</p>
                                                <p>
                                                    <button type="submit" value="Register Now" class="btn submit sub-form" name="submit" style=" background: #ffc900; border-radius: 5px; width: 230px; box-shadow: 0 3px 0 #d37f00;">xem chi tiết</button>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <img src="{{url_for('static', filename='images/img4.png')}}" alt="Flower">
                                            <div class="carousel-caption">
                                                <h3>Quy tắc bảo hiểm</h3>
                                                <p>Trường hợp Người được bảo hiểm bị mắc phải bệnh hiểm nghèo thuộc phạm vi bảo hiểm của Quy tắc bảo hiểm này, Người được bảo hiểm/ Người thụ hưởng/ Người thừa kế hợp pháp phải gửi các chứng từ sau đây</p>
                                                <p>
                                                    <button type="submit" value="Register Now" class="btn submit sub-form" name="submit" style=" background: #ffc900; border-radius: 5px; width: 230px; box-shadow: 0 3px 0 #d37f00;">xem chi tiết</button>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <img src="{{url_for('static', filename='images/img4.png')}}" alt="Flower">
                                            <div class="carousel-caption">
                                                <h3>Quy tắc bảo hiểm</h3>
                                                <p>Trường hợp Người được bảo hiểm bị mắc phải bệnh hiểm nghèo thuộc phạm vi bảo hiểm của Quy tắc bảo hiểm này, Người được bảo hiểm/ Người thụ hưởng/ Người thừa kế hợp pháp phải gửi các chứng từ sau đây</p>
                                                <p>
                                                    <button type="submit" value="Register Now" class="btn submit sub-form" name="submit" style=" background: #ffc900; border-radius: 5px; width: 230px; box-shadow: 0 3px 0 #d37f00;">xem chi tiết</button>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="" class="container make-row">
                    <div class="row">
                        <div class="" style=" margin-bottom: 200px;margin-top: 0;padding-left: 265px;padding-right: 265px;text-align: center;">
                            <div class="sec-title">
                                <h3 style="">
                                    sứ mệnh của chúng tôi là mang đến an sinh xã hội
                                </h3>
                            </div>
                            <p>Bạn cần hiểu thêm thông tin về sản phẩm dịch vụ của Bảo hiểm PTI, Hãy trò chuyện cùng chúng tôi! Liên hệ với chúng tôi để được tư vấn!</p>
                            <p><button type="submit" value="Register Now" class="btn submit sub-form" name="submit" style=" background: #ffc900; margin: 15px auto; border-radius: 5px; width: 230px; box-shadow: 0 3px 0 #d37f00;">nhận tư vấn ngay</button></p>
                            <div class="clr"></div>
                        </div>
                    </div>
                </section>

            </div>
        </div>

        <footer class="main-wrapper footer">
            <div class="container bottom">
                <div class="fl copyright"><span style="text-transform:none;">Conpyright</span> (C) 2016 ACCESSTRADE &amp; EPTI</div>
                <nav>
                    <ul style="margin:0px;">
                        <li class="firstItem">
                            <a href="javascript:void(0);"><img src="{{url_for('static', filename='images/logo1.png')}}"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="{{url_for('static', filename='images/logo2.png')}}"></a>
                        </li>
                        <li class="lastItem">
                            <a href="javascript:void(0);"><img src="{{url_for('static', filename='images/logo3.png')}}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

        <!-- Top -->
        <div id="back-top-wrapper" class="visible-lg">
            <p id="back-top" class='bounceOut'>
                <a href="#top">
                    <span></span>
                </a>
            </p>
        </div>

    </div>
    <div class="mask"></div>
    <script src="{{url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/modernizr.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.bxslider.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.customSelect.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.validate.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.colorbox-min.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script src="{{url_for('static', filename='js/loader.js')}}"></script>

    <script src="//cdn.accesstrade.vn/js/tracking.js" ></script>
    <script type="text/javascript">
        AT.track();
        function clearValidity() {
            document.getElementById('yes').setCustomValidity('');
        }

        function onInvalidCustom(idstr) {
            var me = document.getElementById(idstr);
            me.setCustomValidity('Số điện thoại không chính xác');
            //me.setCustomValidity('');
        }

        function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length,c.length);
                    }
                }
                return "";
        }
            //alert(getCookie("_aff_network") + "|" + getCookie("_aff_sid"))
            $("#aff_source").val(getCookie("_aff_network"));
            $("#aff_sid").val(getCookie("_aff_sid"));
        $(document).ready(function(){
            $('input[name=email]').keyup(function() {
                  this.value = this.value.toLowerCase();
                });
          });
    </script>
</body>

</html>